#navbarimg{
    width:100%;
}

.article img{
    max-width: 100%;
    margin-bottom: 15px;
}

.article{
    padding:15px;
}

.price{
    color:cornflowerblue;
    font-weight: bold;
    font-size: 21px;
    display:block;
    text-align: center;
}

.searchbar{
    width: 350px;
}

.searchbar-container{
    padding: 15px;
    text-align: center;
}