#navbarimg{
    width:100%;
}

.article img{
    max-width: 100%;
    margin-bottom: 15px;
}

.article{
    padding:15px;
}

.price{
    color:rgb(67, 163, 174);
    font-weight: bold;
    font-size: 21px;
    display:block;
    text-align: center;
}

.searchbar{
    width: 350px;
}

.searchbar-container{
    padding: 15px;
    text-align: center;
}

.btn-primary{
    background-color: rgb(67, 163, 174);
    border: 1px solid rgb(67, 163, 174);
}

.btn-primary:hover, .btn-primary:active{
    background-color: rgb(39, 86, 91) !important;
    border: 1px solid rgb(39, 86, 91) !important;
}